{
	"useTabs": true,
	"printWidth": 100,
	"singleQuote": true,
	"tabWidth": 4,
	"overrides": [
		{
			"files": ["*.json", "*.yml"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
